# KiCad
Kicad-Faraday/*.bak
Kicad-Faraday/*.kicad_pcb-bak
Kicad-Library/*.bak
Kicad-Library/*.bck
Kicad-Library/*.dcm

# LTSpice
EngineeringDocs/*.log
EngineeringDocs/*.raw

# General
EngineeringDocs/~*
Kicad-Faraday/OutputFiles/FaradayFAB/*